.video-card-container {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #e1e8ed;
  border-radius: 6px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  height: 100px; /* Increased height */

  &.selected {
    background-color: #cce5ff; /* A light blue */
    border: 2px solid #007bff; /* A darker blue for the border */
  }

  &:hover {
    background-color: #f8f9fa;
  }
}

.thumbnail {
  position: relative; /* For positioning the play button */
  width: 120px; /* Increased width for better image display */
  height: 80px; /* Increased height for better image display */
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  overflow: hidden; /* Ensure image doesn't overflow */

  img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Scale image to cover the area */
    display: block;
  }

  .no-thumbnail svg {
    color: #7f8c8d;
  }

  .play-icon-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px; /* Size of the play icon */
    opacity: 1; /* Always visible */
    transition: opacity 0.2s;
  }
}

.video-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center content */
  margin-left: 10px; /* Add some space between thumbnail and text */
  padding-top: 30px;
  padding-bottom: 30px;


  p {
    margin: 0;
    font-size: 12px;
  }

  .video-name {
    font-weight: bold;
    color: #2c3e50;
  }

  .video-details,
  .video-date {
    color: #7f8c8d;
    font-size: 10px;
  }
}

.delete-btn {
  background: #e74c3c;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.2s;

  .video-card-container:hover & {
    opacity: 1;
  }
}
